<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/Menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos del articulo</h2>
            <br/>
            <a th:href="@{/articulo/listado}">Regresar</a>
            <br/>
            <br/>
            <form th:action="@{/articulo/guardar}"
                  method="POST"
                  th:object="${articulo}">
                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
                <br/>
                <lable for="categori">Categoria:</lable><br/>
                <select th:field="*{idCategoria}">
                    <option th:each="categoria: ${categorias}"
                            th:value="${categoria.idCategoria}"
                            th:text="${categoria.descripcion}"/>
                </select>
                <br/>
                <lable for="descripcion">Descripcion:</lable><br/>
                <input type="text" name="descripcion" th:field="*{descripcion}" /><br/> 
                <lable for="detalle">Detalle:</lable><br/>
                <texttarea name="detalle" th:field="*{detalle}" rows="6" cols="50"/><br/> 
                <lable for="precio">Precio:</lable><br/>
                <input type="number" name="precio" th:field="*{precio}" /><br/> 
                <lable for="existencias">Existencias:</lable><br/>
                <input type="number" name="existencias" th:field="*{existencias}" /><br/>
                <lable for="activo">Activo:</lable><br/>
                <input type="checkbox" name="activo" th:field="*{activo}" /><br/>
                <input type="submit" name="Guardar" value="Guardar" />
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
